@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
  background-color: rgba(116, 134, 192, 0.664);
  font: normal 16px 'Roboto', sans-serif;
}

.container {
  /* display: block; */
  /* margin: 0; */
}
.days {
  text-transform: uppercase;
}
.period {
  text-transform: uppercase;
  text-decoration: underline;
}
.recipeTitle {
  text-transform: lowercase;
}

h4 {
  margin-bottom: 0;
}
p {
  margin: 0;
}
